<div id="quoteList">
  <div class='quote-container' ng-repeat="quote in quotes | orderByPriority | orderBy: '-added'" >
    <gravatar-image data-gravatar-email='quote.user'
        data-gravatar-size="44" 
        data-gravatar-rating="pg" 
        data-gravatar-default="identicon" 
        data-gravatar-secure="true"
        data-gravatar-css-class="user"></gravatar-image>
    <a class="quote"
      href="#/quotes/{{quote.$id}}" >
        {{quote.content}} - {{quote.author}}
    </a>
  </div>
</div>