<div ng-show="user">
  <gravatar-image data-gravatar-email='user.email'
      data-gravatar-size="40" 
      data-gravatar-rating="pg" 
      data-gravatar-default="identicon" 
      data-gravatar-secure="true"></gravatar-image>
  {{user.email}}
</div>
<div ng-hide="user">
  <form ng-show="state === 'login'" ng-submit="login()">
    <input type="text" ng-model="login.email" placeholder="email">
    <input type="password" ng-model="login.password" placeholder="password">
    <button type="submit">login</button>
    <a href="" ng-click="showRegister()">register</a>
  </form>
  <form ng-show="state === 'register'" ng-submit="register()">
    <input type="text" ng-model="register.email" placeholder="email">
    <input type="password" ng-model="register.password" placeholder="password">
    <input type="password" ng-model="register.confirmation" placeholder="confirmation">
    <button type="submit">register</button>
    <a href=""ng-click="showLogin()">login</a>
  </form>
</div>